<?php
  header('Content-type: application/json');
  $debug = 'no';
  error_reporting(E_ALL);
  ini_set('display_errors', 1);

if (isset($_GET['user-session-id'])) {
  $userSessionID = $_GET['user-session-id'];
} else {
  if (session_status() == PHP_SESSION_NONE) {
    session_start();
  }
  $userSessionID = session_id();
}

$data = json_decode(file_get_contents("php://input"), true);
$receivedData = $data;
// echo json_encode($receivedData);



// Initialize the database variables
$dsn = 'mysql:host=dalog.cvxwjgsz8jk3.us-east-1.rds.amazonaws.com;dbname=da_forms';
$dbUsername = 'awsadmin';
$dbPassword = 'yL6H7LL1';


if( isset($data['userId']) ) {
  $userId = $data['userId'];
} else {
  $userId = "";
}

if( isset($data['userName']) ) {
  $userName = $data['userName'];
} else {
  $userName = "";
}

if( isset($data['userEmail']) ) {
  $userEmail = $data['userEmail'];
} else {
  $userEmail = "";
}

if( isset($data['salesContact']) ) {
  $salesContact = $data['salesContact'];
} else {
  $salesContact = "";
}

if( isset($data['type']) ) {
  $type = $data['type'];
} else {
  $type = "";
}

if( isset($data['course']) ) {
  $course = $data['course'];
} else {
  $course = "";
}




// (sessionID comes from above)

// Determine the host
// if (strpos($slideURL, 'demo') !== false) {
//   $host = 'DEMO';
// } elseif (strpos($slideURL, 'staging') !== false) {
//   $host = 'STAGING';
// } elseif (strpos($slideURL, 'lb') !== false) {
//   $host = 'LB';
// } elseif (strpos($slideURL, 'lms') !== false) {
//   $host = 'LMS';
// } else {
//   $host = 'PROD';
// }

if ($debug == 'yes') {
  echo "<br>We will attempt to connect to the database<br>";
}

// Connect to the database
try {
  $db = new PDO($dsn, $dbUsername, $dbPassword);
} catch (PDOException $e) {
  if($debug == 'yes') {
    echo "<br>Unable to connect<br>";
    print $e->getMessage();
  } else {
    error_log($e->getMessage(), 0);
  }
  exit;
}

// Insert the data
try {
    $sqlInsert = "INSERT INTO sales_logging"
      . " (userId,
          userName,
          userEmail,
          salesContact,
          type,
          course)"
      . " VALUES (?, ?, ?, ?, ?, ?)";
    $insertResults = $db->prepare($sqlInsert);
    $insertResults->bindParam(1, $userId, PDO::PARAM_STR);
    $insertResults->bindParam(2, $userName, PDO::PARAM_STR);
    $insertResults->bindParam(3, $userEmail, PDO::PARAM_STR);
    $insertResults->bindParam(4, $salesContact, PDO::PARAM_INT);
    $insertResults->bindParam(5, $type, PDO::PARAM_STR);
    $insertResults->bindParam(6, $course, PDO::PARAM_STR);
    if($insertResults->execute())
    {
      $res="Data Inserted Successfully:";
      echo json_encode($res);
    }
    else {
      $error="Not Inserted,Some Problem occurred.";
      echo json_encode($error);
    }

  }
  catch (PDOException $e) {
    if($debug == 'yes') {
      echo "<br>Insert didn't work<br>";
      print $e->getMessage();
      echo json_encode($e);
    } else {
      error_log($e->getMessage(), 0);
    }
    exit;
  }

// Close the database
$insertResults = null;
$db = null;

// send success message back to the page that requested this one


?>
